body, html {
    height: 100%;
 }
 body {
    font-family: 'Georgia', sans-serif;
    background: #222;
    display: flex;
    justify-content: center;
    flex-basis: auto;
    align-items: center;
 }
 .nav {
    list-style-type: none;
    border-radius: 20vmin;
    background: #a104c0;
    margin: 0;
    padding: 0;
    width: 700px;
    overflow: hidden;
 }
 
 .nav-item {
    font-size: 20px;
    background: #01f065;
    border-bottom: 1vmin solid rgba(63, 46, 73, 0.3);
 }
 
 .nav-item:last-child {
    border-bottom: none;
 }
 
 .nav-link, .nav-submenu-link {
    text-decoration: none;
    padding: 12vmin 17vmin;
    display: block;
    color: #eef11a;
 }
 
 .nav-submenu {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1.5s;
    background: #3f2e49;
 }
 .nav-submenu:target {
    max-height: 50rem;
 }
 .nav-submenu-link {
    font-size: 16vmin;
    background: transparent;
 }
 .nav-submenu-link:hover {
    background: #36253f;
 }
#mem1{
margin-left: auto;
margin-right: auto;
position: relative;
width: 25vmin;
height: 35vmin;
background-image: url(./Images/1.jpg);
background-position: center;
background-size: cover;
